<br>
<h1>{{languageService.eng? 'Contact':'Contacto'}}</h1>
<div class="cont">

    <div class="left">
        <div class="linkedin flexrow">
            <a href="https://www.linkedin.com/in/francisco-jes%C3%BAs-s%C3%A1nchez-ben%C3%ADtez-4b95061a9/" target="_blank">

                <img src="../../../assets/contact/LinkedIn_icon.svg.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/francisco-jes%C3%BAs-s%C3%A1nchez-ben%C3%ADtez-4b95061a9/" class="valing" target="_blank">

                    <h5 class="valing">Francisco Jesús Sánchez Benítez</h5>
                </a>
        </div>
        <br>
        <div class="email flexrow">
            <a href="mailto:franjsanchezben@gmail.com">

                <img src="../../../assets/contact/Gmail_icon_(2020).svg.png" alt="">
               
            </a>
            <a class="valing" href="mailto:franjsanchezben@gmail.com">

                
                <h5 >franjsanchezben&#64;gmail.com</h5>
            </a>
        </div>
    </div>
    <div class="right ">
        <div class="github flexrow">
            <a href="https://github.com/sbFranj" target="_blank">

                <img src="../../../assets/contact/github.png" alt="">
            </a>
            <a href="https://github.com/sbFranj" class="valing" target="_blank">

                <h5 class="valing">sbFranj</h5>
            </a>
        </div>
        <br>
        <div class="cv flexrow">
            <img src="../../../assets/contact/pdflogo.jpg" alt="">
            <a class="valing" href="../../../assets/contact/CV Fran Sanchez .pdf" download="">
                <button class="btn btn-secondary">Descargar CV</button>
            </a>
        </div>
    </div>


</div>