<br />
<h1>
  {{
    languageService.eng ? "Professional experience" : "Experiencia profesional"
  }}
</h1>
<div class="cont">
  <div class="eviden">
    <div>
      <img src="../../../assets/professional/atoseviden.png" alt="" />
    </div>
    <div class="desc">
      <h3>Eviden</h3>
      <small>03/2024 - 06/2024</small>
      @if (!languageService.eng) {
      <h5>Desarrollador Full Stack</h5>
      <p>
        Desarrollé aplicaciones web full stack utilizando Angular para el
        frontend, Spring Boot para el backend y SQL para la gestión de bases de
        datos, con herramientas como DBeaver, phpMyAdmin, Eclipse y Visual
        Studio Code para optimizar el desarrollo y despliegue de BBDD.
        Implementé funcionalidades clave para la administración de un club
        náutico y la gestión de reservas en oficina, priorizando la asignación
        de roles y accesos mediante JWT. Además, trabajé bajo metodologías
        ágiles, lo que permitió una colaboración constante y una rápida
        adaptación a los requerimientos del proyecto, asegurando entregas de
        alta calidad y mejora continua durante el ciclo de vida del desarrollo.
      </p>

      }@else {

      <h5>Full Stack Developer Intern</h5>
      <p>
        I developed full-stack web applications using Angular for the frontend,
        Spring Boot for the backend, and SQL for database management, leveraging
        tools such as DBeaver, phpMyAdmin, Eclipse, and Visual Studio Code to
        streamline development and database deployment. I implemented key
        functionalities for managing a yacht club and office site reservations,
        prioritizing role-based access control through JWT. Additionally, I
        collaborated using agile methodologies, which fostered continuous
        teamwork and rapid adaptation to project requirements, ensuring
        high-quality deliverables and ongoing improvements throughout the
        development lifecycle.
      </p>
      }
    </div>
  </div>
  <div class="saga">
    <div class="desc">
      <h3>Saga Soluciones</h3>
      <small>03/2025 - Actualidad</small>
      @if (!languageService.eng) {
      <h5>Desarrollador Web</h5>
      <p>
        Trabajando con tecnologías como: Java, JavaScript, JSP, JSTL, jQuery,
        HTML, CSS. Con metodologías ágiles dentro de un equipo de trabajo.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>

      }@else {

      <h5>Web Developer</h5>
      <p>
        Working with technologies such as: Java, JavaScript, JSP, JSTL, jQuery,
        HTML, CSS. Using agile methodologies within a team environment.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      }
    </div>
    <div>
      <img src="../../../assets/professional/saga.png" alt="" />
    </div>
  </div>
</div>
