img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.cont{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    margin-bottom: 5rem;
    text-align: left;
    
}


.item div{
    margin-left: 2rem;
}

.sist{
    text-align: right;
    
}

.sist div{
    margin-right: 2rem;
}

p{
    text-align: justify;
}

.sist p{
  text-align: right;  
  
}

.item div{
    margin-top: 2rem;
}

@media screen and (max-width: 500px) {
    .item{
        flex-direction: column;
    }

    .sist{
        margin-left: 0rem;
        text-align: left;
        flex-direction: column-reverse;

    }
    
    .sist div{
        margin-right: 0rem;
    }

    img{
        margin-left: 2rem;
    }
    h1{
        margin-top: 2rem;
    }
    .item div{
        margin-top: 2rem;
        margin-left: 0.1rem;
    }

    .sist p{
        text-align: justify;  
      }
}