<footer class="footer py-3">
  <hr />
  <div class="fcont">
    <div class="space">
      <b>Email</b><br />
      <a href="mailto:franjsanchezben@gmail.com">
        franjsanchezben&#64;gmail.com
      </a>
    </div>
    <div class="space">
      <b>GitHub</b><br />
      <a href="https://github.com/sbFranj" target="_blank"
        >github.com/sbFranj</a
      >
    </div>
    <div class="space">
      <b>LinkedIn</b><br />
      <a href="https://www.linkedin.com/in/franjsanchezben/" target="_blank">
        linkedin.com/in/franjsanchezben
      </a>
    </div>
    <div>&copy; 2025 by Fran Sánchez</div>
  </div>
</footer>
