<footer class="footer py-3">
  <hr>
  <div class="fcont">
    <div class="space">
      <b>Email</b><br>
      franjsanchezben&#64;gmail.com
    </div>
    <div class="space">
      <b>GitHub</b><br>
      <a href="https://github.com/sbFranj">github.com/sbFranj</a>
    </div>
    <div class="space">
      <b>LinkedIn</b><br>
      <a href="https://www.linkedin.com/in/francisco-jes%C3%BAs-s%C3%A1nchez-ben%C3%ADtez-4b95061a9/">
        linkedin.com/in/fran-sanchez/
      </a>
    </div>
    <div>&copy; 2024 by Fran Sánchez</div>
  </div>
</footer>