
<footer class="footer py-3">
  <hr>
  <div class="fcont">
    <div class="space">
      <b>Email</b><br>
      <a href="mailto:franjsanchezben@gmail.com">

        franjsanchezben&#64;gmail.com
      </a>
    </div>
    <div class="space">
      <b>GitHub</b><br>
      <a href="https://github.com/sbFranj" target="_blank">github.com/sbFranj</a>
    </div>
    <div class="space">
      <b>LinkedIn</b><br>
      <a href="https://www.linkedin.com/in/francisco-jes%C3%BAs-s%C3%A1nchez-ben%C3%ADtez-4b95061a9/" target="_blank">
        linkedin.com/in/fran-sanchez/
      </a>
    </div>
    <div>&copy; 2024 by Fran Sánchez</div>
  </div>
</footer>