<div class="main">

    <div class="language">

        
    </div>

    <div class="littleofme">

        <div class="ee">
            <!-- <img class="me"
                src="https://res.cloudinary.com/dgrri2uuj/image/upload/c_auto,g_north,h_750,w_600/pdf1zf5xfolektmbaeim.jpg"
                alt=""> -->
            <img class="me" src="../../../assets/me nature.png" alt="">
        </div>
        <div class="desc">
            <h1>Fran Sánchez</h1>
            @if (!lenguageService.eng) {

            <b>Un poco de mí</b>
            <p>
                Soy desarrollador de aplicaciones web, <br>
                técnico superior en telecomunicaciones <br>
                y tecnico microinformático, muy aficionado <br>
                a la tecnologia. Soy proactivo y una persona con <br>
                mucha energía. Actualmente resido en Sevilla.
            </p>
            }@else {
            <b>A bit about me</b>
            <p>
                I am a web application developer, with advanced <br>
                technical expertise in telecommunications and <br>
                microcomputer technology.I am highly passionate <br>
                about technology. I am proactive and full of  <br>
                energy. Currently, I reside in Seville.
            </p>
            }

        </div>

    </div>


    <h1>{{!lenguageService.eng? 'Tecnologías' : 'Technologies'}}</h1>

    <img src="../../../assets/logos/angular.png" class="logo" alt="logo">
    <img src="../../../assets/logos/spring.png" class="logo" alt="">
    <img src="../../../assets/logos/java.png" class="logo" alt="">
    <img src="../../../assets/logos/javascript.png" class="logo" alt="">
    <img src="../../../assets/logos/python.png" class="logo" alt="">
    <img src="../../../assets/logos/typescript.png" class="logo" alt="">
    <img src="../../../assets/logos/react.png" class="logoh" alt="">
    <img src="../../../assets/logos/nodejs.png" class="logow" alt="">
    <img src="../../../assets/logos/docker.png" class="logow" alt="">
    <img src="../../../assets/logos/express-js.png" class="logo" alt="">
    <img src="../../../assets/logos/thymeleaf.png" class="logow" alt="">
    <img src="../../../assets/logos/bootstrap.png" alt="">
    <img src="../../../assets/logos/css.png" class="logoh" alt="">
    <img src="../../../assets/logos/html.png" class="logo" alt="">
    <img src="../../../assets/logos/git.png" class="logo" alt="">
    <img src="../../../assets/logos/eclipse.svg" class="logo" alt="">
    <img src="../../../assets/logos/visualstudiocode.png" class="logo" alt="">
    <img src="../../../assets/logos/figma.png" class="logo" alt="">
    <img src="../../../assets/logos/mysql.png" class="logo" alt="">
    <img src="../../../assets/logos/oracle.png" class="logow" alt="">
    <img src="../../../assets/logos/mongodb.png" class="logow" alt="">
    <img src="../../../assets/logos/postgre.png" class="logo" alt="">
    <img src="../../../assets/logos/dbeaver.png" class="logow" alt="">
    <img src="../../../assets/logos/phpmyadmin.png" class="logow" alt="">
    <img src="../../../assets/logos/xml.svg" class="logoh" alt="">
    <img src="../../../assets/logos/json.png" class="logow" alt="">
    <img src="../../../assets/logos/jsp.png" class="logoh" alt="">

    <div class="separator"></div>


</div>