<div class="main">

    <div class="language">

        
    </div>

    <div class="littleofme">

        <div class="ee">
            <!-- <img class="me"
                src="https://res.cloudinary.com/dgrri2uuj/image/upload/c_auto,g_north,h_750,w_600/pdf1zf5xfolektmbaeim.jpg"
                alt=""> -->
            <img class="me" src="../../../assets/me nature.png" alt="">
        </div>
        <div class="desc">
            <h1>Fran Sánchez</h1>
            @if (!lenguageService.eng) {

            <b>Un poco de mí</b>
            <p>
                Soy desarrollador de aplicaciones web, técnico superior en telecomunicaciones y técnico microinformático, 
                con una profunda pasión por la tecnología. Tengo un gran interés en trabajar con Angular y Spring Boot, 
                y aunque estos son mis enfoques principales, estoy siempre abierto a aprender nuevas habilidades y 
                tecnologías. Valoro la colaboración y disfruto compartiendo mis conocimientos con mis compañeros, 
                estando siempre dispuesto a ayudar. Al mismo tiempo, tengo la capacidad de trabajar de manera 
                independiente y una fuerte motivación para alcanzar mis objetivos. Soy proactivo y me caracteriza 
                una gran energía. Actualmente resido en Sevilla.
            </p>
            }@else {
            <b>A bit about me</b>
            <p>
                I am a web application developer, a higher technician in telecommunications, and a computer 
                technician with a strong passion for technology. I have a keen interest in working with 
                Angular and Spring Boot, and while these are my primary focuses, I am always open to 
                learning new skills and technologies. I value collaboration and enjoy sharing my knowledge 
                with my colleagues, always ready to lend a helping hand. At the same time, I have the ability 
                to work independently and possess a strong motivation to achieve my goals. I am proactive and 
                characterized by a great deal of energy. I currently reside in Seville.
            </p>
            }

        </div>

    </div>

    <div class="div-tecno">

        <h1>{{!lenguageService.eng? 'Tecnologías' : 'Technologies'}}</h1>
        
        <img src="../../../assets/logos/angular.png" class="logo" alt="logo">
        <img src="../../../assets/logos/spring.png" class="logo" alt="">
        <img src="../../../assets/logos/java.png" class="logo" alt="">
        <img src="../../../assets/logos/javascript.png" class="logo" alt="">
        <img src="../../../assets/logos/python.png" class="logo" alt="">
        <img src="../../../assets/logos/typescript.png" class="logo" alt="">
        <img src="../../../assets/logos/react.png" class="logoh" alt="">
        <img src="../../../assets/logos/nodejs.png" class="logow" alt="">
        <img src="../../../assets/logos/docker.png" class="logow" alt="">
        <img src="../../../assets/logos/express-js.png" class="logo" alt="">
        <img src="../../../assets/logos/thymeleaf.png" class="logow" alt="">
        <img src="../../../assets/logos/bootstrap.png" alt="">
        <img src="../../../assets/logos/css.png" class="logoh" alt="">
        <img src="../../../assets/logos/html.png" class="logo" alt="">
        <img src="../../../assets/logos/git.png" class="logo" alt="">
        <img src="../../../assets/logos/eclipse.svg" class="logo" alt="">
        <img src="../../../assets/logos/visualstudiocode.png" class="logo" alt="">
        <img src="../../../assets/logos/figma.png" class="logo" alt="">
        <img src="../../../assets/logos/mysql.png" class="logo" alt="">
        <img src="../../../assets/logos/oracle.png" class="logow" alt="">
        <img src="../../../assets/logos/mongodb.png" class="logow" alt="">
        <img src="../../../assets/logos/postgre.png" class="logo" alt="">
    <img src="../../../assets/logos/dbeaver.png" class="logow" alt="">
    <img src="../../../assets/logos/phpmyadmin.png" class="logow" alt="">
    <img src="../../../assets/logos/xml.svg" class="logoh" alt="">
    <img src="../../../assets/logos/json.png" class="logow" alt="">
    <img src="../../../assets/logos/jsp.png" class="logoh" alt="">
    
    <div class="separator"></div>
</div>
    
    
</div>