.littleofme {
    margin-top: 4rem;
    display: flex;
    margin-bottom: 8rem;
}



.separator{
    margin-bottom: 5rem;
}

.logo {
    width: 120px;
    margin-left: 1rem;
    margin-top: 2rem;

}

.logow {
    width: 120px;
    margin-left: 1rem;
    margin-top: 1rem;

}

.logoh {
    height: 120px;
    margin-left: 1rem;
    margin-top: 1rem;

}

.me {
    height: 480px;
    width: 480px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    
}

.desc {
    font-size: 150%;
    margin-left: 3rem;
    margin-top: 2rem;
    text-align: left;
}

.desc h1 {
    margin-top: 2rem;
    font-size: 300%;
    font-weight: 500;
}

.desc p {
    font-size: 80%;
}


.language img{
    width: 30px;
}

b{
    margin-left: 0.3rem;
}
p{
   text-align: justify;
   margin-left: 0.3rem;
   width: 120%;
}

img{
    transition: transform 0.5s ease;
}

img:hover{
    transform:scale(1.2);
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}


h1 {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}



@media screen and (max-width: 1200px) {

    p{
        width: 100%;
    }
    
    .div-tecno{
        margin-left: 5rem;
        height: 150%;
    }

    
    .littleofme{
        display: flex;
        flex-direction: column;
    }
    .me{
        margin-top: -7rem;
        margin-left: 3rem;
        transform: scale(0.8);
    }
    .desc {
       width: 100%;
       margin-top: -4rem;
        margin-left: 4rem;
    }
    .logo {
        width: 110px;
    
    }
    
    .logow {
        width: 110px;
    
    }
    
    .logoh {
        height: 110px;
    
    }

    
    .language{
        margin-top: -15rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 1000px) {
    .me{
        height: 400px;
        width: 400px;
        margin-top: -2rem;
        margin-left: 4rem;
    }
    .desc{
        width: 88%;
        margin-top: -4rem;
        margin-bottom: -3rem;
        font-size: 120%;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .logo {
        width: 100px;
    
    }
    
    .logow {
        width: 100px;
    
    }
    
    .logoh {
        height: 100px;
    
    }
   
    
    .grid-tecno{
        padding-right: 1rem;
        margin-right: -1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .main {
        margin-left: -5rem;
        
    }

    .language{
        margin-top: -15rem;
        margin-bottom: 6rem;
    }
    

    .littleofme{
    }

}
