.littleofme {
    
    display: flex;
    margin-bottom: 8rem;
}

.separator{
    margin-bottom: 5rem;
}

.logo {
    width: 120px;
    margin-left: 1rem;
    margin-top: 2rem;

}

.logow {
    width: 120px;
    margin-left: 1rem;
    margin-top: 1rem;

}

.logoh {
    height: 120px;
    margin-left: 1rem;
    margin-top: 1rem;

}

.me {
    height: 480px;
    width: 480px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    
}

.desc {
    font-size: 150%;
    margin-left: 3rem;
    margin-top: 2rem;
    text-align: left;
}

.desc h1 {
    margin-top: 2rem;
    font-size: 300%;
    font-weight: 500;
}

.desc p {
    font-size: 80%;
}

.language{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.language img{
    width: 30px;
}

b{
    margin-left: 0.3rem;
}
p{
   text-align: justify;
   margin-left: 0.3rem;
   width: 120%;
}

img{
    transition: transform 0.5s ease;
}

img:hover{
    transform:scale(1.3);
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}


h1 {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@media screen and (max-width: 1000px) {
    .main {
        transform: scale(0.7);
        margin-left: -5rem;
    }


    .language{
        margin-top: -15rem;
        margin-bottom: 6rem;
    }
    .separator{
        margin-bottom: 0rem;
    }

}

@media screen and (max-width: 1200px) {

    p{
        width: 100%;
    }
    img {
        view-timeline-name: --image;
        view-timeline-axis: block;
    
        animation-timeline: --image;
        animation-name: show;
    
        animation-range: entry 10% cover 20%;
        animation-fill-mode: both;
    }

    .div-tecno{
        margin-left: 5rem;
        height: 150%;
    }

    
    .littleofme{
        display: flex;
        flex-direction: column;
    }
    .me{
        margin-top: -7rem;
        margin-left: 3rem;
        transform: scale(0.6);
    }
    .desc {
       width: 100%;
       margin-top: -4rem;
        margin-left: 4rem;
    }
    .logo {
        width: 110px;
    
    }
    
    .logow {
        width: 110px;
    
    }
    
    .logoh {
        height: 110px;
    
    }

    
    .language{
        margin-top: -15rem;
        margin-bottom: 2rem;
    }
}
