.cont{
    margin-top: 5rem;
    text-align: left;
}

img{
    
    width: 500px;
    height: 300px;
    object-fit: fill;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.flicksense{
    display: flex;
}

.desc{
    margin-left: 4rem;
}

@media screen and (max-width: 800px) {
    .flicksense{
        flex-direction: column;
    }
    h1{
        margin-top: 5rem;
    }

    img{
        transform: scale(0.7);
        margin-left: -4rem;
        margin-top: -4rem;
    }

    .desc{
        margin-left: -0.1rem;
    }
    
}

