.footer {
    background-color: white;
  }


  .main-content {
    margin-top: 60px; /* Ajusta el margen superior para compensar la navbar fija */
    padding: 20px;
    text-align: center;
    min-height: calc(100vh - 160px); /* Ajusta el tamaño para considerar la navbar y el footer */
    
  }

